@font-face {
    font-family: calcFont;
    src: url(fonts/Calculator.ttf);
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.calculator {
    background-color: rgb(185, 163, 136);
    padding: 20px;
    border: 1px solid gray;
}
.display {
    display: flex;
    flex-flow: column;
    word-wrap: break-word;
    justify-content: space-evenly;
    width: 384px;
    border: 1px solid gray;
    margin-bottom: 14px;
    background-color: rgb(221, 221, 221);
    min-height: 80px;
    text-align: right;
    position: relative;
}
.input {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 3em;
    font-family: calcFont, sans-serif;
    min-height: 55px;
}
.input:hover {
    cursor: pointer;
}
.toolTip {
    position: absolute;
    left: 15px;
    top: 15px;
    background-color: #000000df;
    border-radius: 4px;
    color: #fff;
    padding: 6px;
    display: none; /* Gets visible by function */
}
.history {
    padding-right: 5px;
    font-size: 1.5em;
    font-family: calcFont, sans-serif;
    min-height: 28px;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(5, 60px);
    column-gap: 8px;
    row-gap: 8px;
}
#plusKey {
    grid-area: 4 / 4 / 6 / 5;
}
.key {
    font-size: 1.3em;
    background-color: rgb(196, 202, 200);
}
.operator {
    background-color: rgb(73, 97, 97);
}
.enter {
    background-color: rgb(127, 189, 127);
}
.clear {
    background-color: rgb(197, 120, 120);
}
.minus {
    background-color: antiquewhite;
}